{% include 'base.html' %}


{% block body %}
<div class="hero_area">
  <div class="hero_bg_box">
    <img src="{{ url_for('static', filename='css_template/images/hero-bg.jpg') }}" alt="Hero Background">
  </div>


    <!-- slider section -->
    <section class="slider_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <h1>We Will Take Care <br> Of Your Pets</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque rem veritatis dolorem voluptas dolore odio pariatur explicabo nesciunt non et obcaecati repellat est sint aliquid, temporibus ab ad eum nisi.</p>
              <a href="">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <div class="main_content">
    <div class="main_content_bg">
      <img src="{{ url_for('static', filename='css_template/images/content-bg.jpg') }}" alt="Content Background">
    </div>

    <!-- service section -->
    <section class="service_section layout_padding">
      <div class="container py_mobile_45">
        <div class="heading_container heading_center">
          <h2> Our Services </h2>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="box">
              <div class="img-box">
                <img src="{{ url_for('static', filename='css_template/images/s1.png') }}" alt="Service 1">
              </div>
              <div class="detail-box">
                <h5>Pet Grooming</h5>
                <p>Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="img-box">
                <img src="{{ url_for('static', filename='css_template/images/s2.png') }}" alt="Service 2">
              </div>
              <div class="detail-box">
                <h5>Pet Checkup</h5>
                <p>Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box">
              <div class="img-box">
                <img src="{{ url_for('static', filename='css_template/images/s3.png') }}" alt="Service 3">
              </div>
              <div class="detail-box">
                <h5>Dental Care</h5>
                <p>Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful</p>
              </div>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <a href="">Read More</a>
        </div>
      </div>
    </section>
    <!-- end service section -->

    <!-- about section -->
    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="img-box">
              <img src="{{ url_for('static', filename='css_template/images/about-img.jpg') }}" alt="About Us">
            </div>
          </div>
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>About Us</h2>
              </div>
              <p>Minima cupiditate fuga animi unde nesciunt esse, voluptas vitae culpa ut impedit quae, totam eum in quis non velit! Aliquid libero voluptas quisquam magnam porro hic atque at numquam vel. Veritatis, magni deleniti optio quod quo nisi repellat quasi quia.</p>
              <a href="">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end about section -->

    <!-- care section -->
    <section class="care_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="detail-box">
              <div class="heading_container">
                <h2>Best Care For Your Pets</h2>
              </div>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like</p>
              <a href="">Contact Us</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img src="{{ url_for('static', filename='css_template/images/care.jpg') }}" alt="Care">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end care section -->

    <!-- client section -->
    <section class="client_section">
      <div class="container">
        <div class="heading_container">
          <h2>Testimonial</h2>
        </div>
        <div class="carousel-wrap">
          <div class="owl-carousel">
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{{ url_for('static', filename='css_template/images/c1.jpg') }}" alt="Client 1">
                </div>
                <div class="detail-box">
                  <h5>Zoya Hawk <br> <span>Pet Owner</span></h5>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                  <p>Dipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="box">
                <div class="img-box">
                  <img src="{{ url_for('static', filename='css_template/images/c2.jpg') }}" alt="Client 2">
                </div>
                <div class="detail-box">
                  <h5>Ryan Jonson <br> <span>Pet Owner</span></h5>
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                  <p>Dipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end client section -->

    <!-- contact section -->
    <section class="contact_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2>Request A Call back</h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form_container">
              <form action="#">
                <div>
                  <input type="text" placeholder="Full Name">
                </div>
                <div>
                  <input type="email" placeholder="Email">
                </div>
                <div>
                  <input type="text" placeholder="Phone number">
                </div>
                <div>
                  <input type="text" class="message-box" placeholder="Message">
                </div>
                <div class="d-flex">
                  <button>SEND</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="map_container">
              <div class="map">
                <div id="googleMap"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact section -->
  </div>

  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="info_container">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <h6>About</h6>
            <p>There are many variations of passages of Lorem Ipsum available, but the majority have. There are many variations of passages of Lorem Ipsum available, but the majority have.</p>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>Useful Link</h6>
            <div class="info_link-box">
              <ul>
                <li class="active">
                  <a href="{{ url_for('home_bp.index') }}">Home</a>
                </li>
                <li>
                  <a href="{{ url_for('home_bp.about') }}">About</a>
                </li>
                <li>
                  <a href="{{ url_for('home_bp.service') }}">Service</a>
                </li>
                <li>
                  <a href="{{ url_for('home_bp.contact') }}">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <h6>Address</h6>
            <div class="contact_items">
              <a href="">
                <div class="item">
                  <div class="img-box">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </div>
                  <div class="detail-box">
                    <p>Location</p>
                  </div>
                </div>
              </a>
              <a href="">
                <div class="item">
                  <div class="img-box">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </div>
                  <div class="detail-box">
                    <p>Call +01 1234567890</p>
                  </div>
                </div>
              </a>
              <a href="">
                <div class="item">
                  <div class="img-box">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                  <div class="detail-box">
                    <p>demo@gmail.com</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_form">
              <h5>Newsletter</h5>
              <form action="#">
                <input type="email" placeholder="Enter your email">
                <button>Subscribe</button>
              </form>
              <div class="social_box">
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/66c61532ea492f34bc089fbf/1i5qs5k6v';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
  </section>
  <!-- end info section -->

  <!-- footer section -->
  <footer class="container-fluid footer_section">
    <p>
      &copy; <span id="displayDate"></span> All Rights Reserved. Design by
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </footer>
  <!-- end footer section -->
{% endblock %}
