<div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="{{ url_for('home_bp.index') }}">
            <span>PetBuddy BD</span>
        </a>
        <div>
            <div class="User_option">
                <form class="form-inline my-2 mb-3 mb-lg-0">
                    <input type="search" placeholder="Search" />
                    <button class="btn my-sm-0 nav_search-btn" type="submit">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </form>
            </div>

            <div class="custom_menu-btn">
                <button onclick="openNav()">
                    <span class="s-1"> </span>
                    <span class="s-2"> </span>
                    <span class="s-3"> </span>
                </button>
            </div>
            <div id="myNav" class="overlay">
                <div class="overlay-content">
                    <a href="{{ url_for('home_bp.index') }}">Home</a>
                    <a href="{{ url_for('vet_bp.show_vets') }}">Vetlist</a>
                    <a href="{{ url_for('patient_profile.patient_profile') }}">Profile</a>
                    <a href="{{ url_for('appointment.list') }}">Book an appointment</a>
                    <a href="{{ url_for('home_bp.about') }}">About</a>
                    <a href="{{ url_for('home_bp.service') }}">Service</a>
                    <a href="{{ url_for('home_bp.contact') }}">Contact</a>
                    <a href="{{ url_for('home_bp.login') }}">Login</a>
                    <a href="{{ url_for('signup_bp.signup') }}">Signup</a>
                </div>
            </div>
        </div>
    </nav>
</div>
