<form action="{{ url_for('payment_bp.initiate_payment') }}" method="POST">
    {{ form.hidden_tag() }}
    
    <label for="amount">Amount (BDT):</label>
    {{ form.amount(size=20) }}<br><br>

    <label for="customer_name">Name:</label>
    {{ form.customer_name(size=20) }}<br><br>

    <label for="customer_email">Email:</label>
    {{ form.customer_email(size=30) }}<br><br>

    <label for="customer_phone">Phone:</label>
    {{ form.customer_phone(size=20) }}<br><br>

    <label for="customer_address">Address:</label>
    <input type="text" name="customer_address" id="customer_address" size="50"><br><br> <!-- Customer Address -->

    <label for="customer_city">City:</label>
    <input type="text" name="customer_city" id="customer_city" size="30"><br><br> <!-- Customer City -->

    <label for="customer_country">Country:</label>
    <input type="text" name="customer_country" id="customer_country" size="30"><br><br> <!-- Customer Country -->

    <label for="payment_method">Select Payment Method:</label>
    {{ form.payment_method() }}<br><br>

    {{ form.submit() }}
</form>
