body {
  display: flex;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.sidebar {
  width: 250px;
  background: linear-gradient(to bottom, #2c3e50, #3498db);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.logo {
  font-size: 24px;
  margin-bottom: 30px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 20px 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.main-content {
  flex: 1;
  padding: 20px;
}

header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.profile, .goals, .medications, .blood-pressure, .blood-pressure-history {
  background: linear-gradient(to bottom right, #ffffff, #f9f9f9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.profile:hover, .goals:hover, .medications:hover, .blood-pressure:hover, .blood-pressure-history:hover {
  transform: translateY(-5px);
}

.profile h3 {
  margin-top: 0;
  color: #2c3e50;
}

.profile .tags span {
  display: inline-block;
  background-color: #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 5px 0 0;
}

.chart {
  width: 100%;
  height: 150px;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #777;
}

/* Appointment Template Styles */
.appointment-template {
  background: linear-gradient(to bottom right, #ffffff, #f9f9f9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: 20px auto;
  transition: transform 0.3s ease;
}

.appointment-template:hover {
  transform: translateY(-5px);
}

.header h2 {
  margin-top: 0;
  color: #34495e;
}

.appointment-info {
  margin-bottom: 20px;
}

.appointment-info h3 {
  margin-top: 0;
  color: #2c3e50;
}

.appointment-info p {
  margin: 5px 0;
}

.appointment-actions {
  display: flex;
  justify-content: space-between;
}

.update-btn, .delete-btn {
  background: linear-gradient(to right, #b6dae1, #636ca5);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.update-btn:hover, .delete-btn:hover {
  background: linear-gradient(to right, #2980b9, #1f6b93);
}

.delete-btn {
  background: linear-gradient(to right, #4c20df, #c0392b);
}

.delete-btn:hover {
  background: linear-gradient(to right, #c0392b, #a93226);
}
