<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css_template/css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css_template/css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css_template/css/responsive.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css_template/css/style.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  <title>{% block title %}PetBuddy BD{% endblock %}</title>
</head>
<body>
  {% include 'navbar.html' %}
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
  
  <!-- message flashing -->
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
          <ul class="flashes">
              {% for category, message in messages %}
                  <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
          </ul>
      {% endif %}
  {% endwith %}
  
  <script src="{{ url_for('static', filename='css_template/js/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='css_template/js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='css_template/js/custom.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    
</body>
</html>

